body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0c3d75;
  color: #fff;
  display: none;
}

header button {
  float: right;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  font-weight: bold;
  margin-top: -5px;
}

header h1 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal;
  padding: 15px;
}

ul {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
}

ul li {
  display: inline-block;
  padding: 15px;
  border-bottom: 5px solid #0c3d75;
  padding-bottom: 10px;
  color: #4c7cb3;
  cursor: pointer;
}

ul li.active, ul li:hover {
  border-bottom: 5px solid #2c62a0;
  color: #fff;
}

.container {
  padding: 15px;
  margin-top: -15px;
}

.container h2 {
  font-size: 15px;
  color: #666;
  margin: 0;
}

.container .activities {
  margin-top: 15px;
  margin-bottom: 15px;
}

.activities_list span {
  display: block;
}

.container span {
  display: block;
}

.container .option {
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 15px 10px;
  border-radius: 10px;
  display: block;
}

.container .option:first-child {
  margin-top: 0px;
}

.container .option > span {
  margin-bottom: 15px;
  font-size: 15px;
  color: #666;
}

.container .option.active {
  background-color: #f0f8ff;
  border: 2px solid #2c62a0;
}

.container .info {
  font-size: 15px;
  color: #666;
}

.container .activity {
  font-size: 20px;
  margin-bottom: 5px;
}

.container .time {
  margin: 0px;
  float: right;
  color: #2c62a0;
}

.configure {
  margin-top: -15px;
}

.configure .header {
  -webkit-box-shadow: 0px 0px 5px #888;
          box-shadow: 0px 0px 5px #888;
  background-color: #fff;
  position: relative;
  z-index: 999;
  padding: 5px 15px;
}

.configure h1 {
  margin: 0px;
  padding: 15px 10px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.configure label.url {
  display: block;
}

.configure input[type="text"], .configure .additional_info {
  color: #333;
  padding: 10px 0px;
  outline: none;
  display: inline-block;
  border: none;
  font-size: 16px;
  width: calc(100% - 45px);
  background-color: inherit;
}

.configure .additional_info {
  padding: 10px;
}

.configure .icon-search {
  width: 30px;
  display: inline-block;
  text-align: right;
  color: #333;
}

.configure .additional_info {
  color: #666;
}

.configure .grades .grade {
  display: block;
  background-color: #fff;
  cursor: pointer;
  padding: 25px;
  border-bottom: 1px solid #ddd;
}

.configure .activities_list {
  padding: 25px 15px;
}

.configure .activities_list > span {
  margin-top: 25px;
  color: #666;
}

.configure .activities_list > span:first-child {
  margin-top: 0px;
}

.configure .option {
  display: block;
  padding: 15px 10px;
  margin-top: 5px;
  border-left: 5px solid #0c3d75;
  margin-left: 5px;
  background-color: #f8f8f8;
  width: calc(100% - 45px);
  cursor: pointer;
}

.configure .nextPage {
  background-color: #0c3d75;
  color: #fff;
  width: 100%;
  display: block;
  border: none;
  outline: none;
  padding: 20px;
}

.loader {
  border: 3px solid #fff;
  border-top: 3px solid #0c3d75;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.loader.small-inline {
  width: 20px;
  height: 20px;
  margin: 0;
  border-width: 2px;
  float: left;
  margin-right: 15px;
  margin-top: -7px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.settings button {
  display: block;
  width: 100%;
  padding: 15px;
  color: #333;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 25px;
}
/*# sourceMappingURL=app.css.map */