$theme-color: #0c3d75;

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: $theme-color;
    color: #fff;
    display: none;

    button {
        float: right;
        padding: 10px;
        background-color: #fff;
        border: none;
        outline: none;
        font-weight: bold;
        margin-top: -5px;
    }

    
    h1 {
        margin: 0;
        margin-bottom: 25px;
        font-weight: normal;
        padding: 15px;
    }
}

ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: auto;

    li {
        display: inline-block;
        padding: 15px;
        border-bottom: 5px solid $theme-color;
        padding-bottom: 10px;
        color: #4c7cb3;
        cursor: pointer;

        &.active, &:hover {
            border-bottom: 5px solid #2c62a0;
            color: #fff;
        }
    }
}

.container {
    padding: 15px;
    margin-top: -15px;

    h2 {
        font-size: 15px;
        color: #666;
        margin: 0;
    }

    .activities {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.activities_list {
    span {
        display: block;
    }
}

.container {

    span {
        display: block;
    }

    .option {
        border: 1px solid #ddd;
        margin-top: 15px;
        padding: 15px 10px;
        border-radius: 10px;
        display: block;

        &:first-child {
            margin-top: 0px;
        }

        > span {
            margin-bottom: 15px;
            font-size: 15px;
            color: #666;
        }

        &.active {
            background-color: #f0f8ff;
            border: 2px solid #2c62a0;
        }
    }

    .info {
        font-size: 15px;
        color: #666;
    }

    .activity {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .time {
        margin: 0px;
        float: right;
        color: #2c62a0;
    }
}

.configure {
    margin-top: -15px;
    
    .header {
        box-shadow: 0px 0px 5px #888;
        background-color: #fff;
    }

    h1 {
        margin: 0px;
        padding: 15px 10px;
        font-weight: bold;
        font-size: 16px;
        color: #333;
    }

    label.url {
        display: block;
    }

    input[type="text"], .additional_info {
        color: #333;
        padding: 10px 0px;
        outline: none;
        display: inline-block;
        border: none;
        font-size: 16px;
        width: calc(100% - 45px);
        background-color: inherit;
    }

    .additional_info {
        padding: 10px;
    }

    .icon-search {
        width: 30px;
        display: inline-block;
        text-align: right;
        color: #333;
    }

    .additional_info {
        color: #666;
    }

    .grades {
        .grade {
            display: block;
            padding: 15px;
            border-left: 5px solid $theme-color;
            margin: 10px;
            margin-top: 5px;
            background-color: #f8f8f8;
            width: calc(100% - 55px);
            cursor: pointer;

            &:hover {
                background-color: $theme-color;
                color: #fff;
            }

            &:first-child {
                margin-top: 10px;
            }
        }
    }

    .activities_list {
        padding: 25px 15px;

        > span {
            margin-top: 25px;
            color: #666;

            &:first-child {
                margin-top: 0px;
            }
        }
    }

    .option {
        display: block;
        padding: 15px 10px;
        margin-top: 5px;
        border-left: 5px solid $theme-color;
        margin-left: 5px;
        background-color: #f8f8f8;
        width: calc(100% - 45px);
        cursor: pointer;
    }

    .nextPage {
        background-color: $theme-color;
        color: #fff;
        width: 100%;
        display: block;
        border: none;
        outline: none;
        padding: 15px 25px;
    }
}

.loader {
    border: 3px solid #fff;
    border-top: 3px solid $theme-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.8s linear infinite;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .settings {
    padding: 20px;

      button {
          display: block;
          width: 100%;
          padding: 15px;
          margin-top: 15px;
          color: #333;
          background-color: #f2f2f2;
          border: none;
          outline: none;
          cursor: pointer;

          &:first-child {
              margin-top: 5px;
          }

          &:hover {
              background-color: #eee;
          }
      }
  }