$theme-color: #0c3d75;

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: $theme-color;
    color: #fff;
    display: none;

    button {
        float: right;
        padding: 10px;
        background-color: #fff;
        border: none;
        outline: none;
        font-weight: bold;
        margin-top: -5px;
    }

    
    h1 {
        margin: 0;
        margin-bottom: 25px;
        font-weight: normal;
        padding: 15px;
    }
}

ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: auto;

    li {
        display: inline-block;
        padding: 15px;
        border-bottom: 5px solid $theme-color;
        padding-bottom: 10px;
        color: #4c7cb3;
        cursor: pointer;

        &.active, &:hover {
            border-bottom: 5px solid #2c62a0;
            color: #fff;
        }
    }
}

.container {
    padding: 15px;
    margin-top: -15px;

    h2 {
        font-size: 15px;
        color: #666;
        margin: 0;
    }

    .activities {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.activities_list {
    span {
        display: block;
    }
}

.container {

    span {
        display: block;
    }

    .option {
        border: 1px solid #ddd;
        margin-top: 15px;
        padding: 15px 10px;
        border-radius: 10px;
        display: block;

        &:first-child {
            margin-top: 0px;
        }

        > span {
            margin-bottom: 15px;
            font-size: 15px;
            color: #666;
        }

        &.active {
            background-color: #f0f8ff;
            border: 2px solid #2c62a0;
        }
    }

    .info {
        font-size: 15px;
        color: #666;
    }

    .activity {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .time {
        margin: 0px;
        float: right;
        color: #2c62a0;
    }
}

.configure {
    margin-top: -15px;
    
    .header {
        box-shadow: 0px 0px 5px #888;
        background-color: #fff;
        position: relative;
        z-index: 999;
        padding: 5px 15px;

        h1 {
            i {
                margin-right: 15px;
                color: $theme-color;
            }
        }
    }

    h1 {
        margin: 0px;
        padding: 15px 10px;
        font-weight: bold;
        font-size: 16px;
        color: #333;
        display: inline-block;
    }

    label.search {
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        float: right;
        top: 5px;
        position: relative;
        width: 20px;
        height: 20px;
        transition: all .2s linear;

        &:hover {
            width: calc(100% - 135px);
            background-color: #f2f2f2;
        }
    }

    label.url {
        display: block;
    }

    input[type="text"], .additional_info {
        color: #333;
        outline: none;
        display: inline-block;
        border: none;
        background-color: inherit;
        font-size: 14px;
        width: calc(100% - 25px);
    }

    .icon-search {
        display: inline-block;
        color: #333;
        font-size: 14px;
    }

    .additional_info {
        color: #666;
        margin-left: 10px;
    }

    .grades {
        .grade {
            display: block;
            background-color: #fff;
            cursor: pointer;
            padding: 25px;
            border-bottom: 1px solid #ddd;
        }
    }

    .activities_list {
        > span {
            margin-top: 25px;
            color: #666;
            padding: 15px;
        }
    }

    .option {
        display: block;
        padding: 15px;
        cursor: pointer;
    }

    .nextPage {
        background-color: $theme-color;
        color: #fff;
        width: 100%;
        display: block;
        border: none;
        outline: none;
        padding: 20px;
        margin-top: 25px;
    }

    input[type="checkbox"] {
        margin-right: 15px;
        position: relative;
        left: -50px;
       
        &::before {
            content: "";
            background-color: #fff;
            border: 2px solid #ddd;
            padding: 5px;
            display: inline-block;
            margin-top: 3px;
            position: relative;
            left: 50px;
        }

        &:checked {
            &::before {
                border-color: $theme-color;
                background-color: $theme-color;
            }
        }
    }
}

.loader {
    border: 3px solid #fff;
    border-top: 3px solid $theme-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.8s linear infinite;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;

    &.small-inline {
        width: 20px;
        height: 20px;
        margin: 0;
        border-width: 2px;
        float: left;
        margin-right: 15px;
        margin-top: -7px;
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .settings {
        button {
            display: block;
            width: 100%;
            padding: 15px;
            color: #333;
            background-color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            text-align: left;
            border-bottom: 1px solid #ddd;
            padding: 25px;
      }
  }

  .alert {
    color: #f44242;
    padding: 50px 25px;
    display: block;
    text-align: center;
}