
.icon-cog:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e809'; } /* '' */